<a href="https://colab.research.google.com/github/Jegge2003/DataInsight/blob/main/String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#A string in python 
#Either double quotation or single quotations

#String in double quotation
the_string = "Hi"
print(the_string)

#String in single quotation
the_string = 'Hi'
print(the_string)

Hi
Hi

In [3]:
#Accessing characters of a python string
str = "Momentum"
print("The string is", str)

#Accessing the first character
print("The first character is", str[0])

#Accessing the last character
print("The last character is", str[-1])

#Accessing from the 3rd to last character
print("The 3rd to last character is", str[2:])

The string is Momentum
The first character is M
The last character is m
The 3rd to last character is mentum

In [4]:
#Concatentation/Joining of 2 different strings
str1 = "Good"
str2 = "Morning"

#Joining with +
print("str1 + str2 = ", str1+str2)

#Using *
print("str1*3", str1*3)

str1 + str2 =  GoodMorning
str1*3 GoodGoodGood

In [5]:
#Iterating through a string to know the number of characters
str="Mangoes are sweet"
count = 0
for char in str:
    count+=1
print("The total number of characters are: ", count)

The total number of characters are:  17